 .u-section-1 {
  background-image: url("images/321518a99b21c331098f6a19c37b870767210ce235db8056a206b2a14e9efd8919c6cb84b078ae18d2c489c61e34fc8ebf8ebb84966dbb32388cbb_12802.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 313px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  font-weight: 700;
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 733px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 789px;
  margin: 60px auto;
}

.u-section-2 .u-image-1 {
  min-height: 613px;
  background-image: url("images/_20220122151937.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 613px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 51px 0 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 27px auto 0 17px;
}

.u-section-2 .u-shape-1 {
  width: 93px;
  height: 91px;
  background-image: none;
  margin: 100px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    line-height: 79.2px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 559px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -497px;
  }

  .u-section-2 .u-image-1 {
    min-height: 623px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -703px;
  }

  .u-section-2 .u-image-1 {
    min-height: 392px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 528px;
}

.u-section-3 .u-text-1 {
  margin: 25px auto 0 calc(((100% - 1140px) / 2) + -55px);
}

.u-section-3 .u-gallery-1 {
  height: 438px;
  margin-top: 25px;
  margin-bottom: 1px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 100%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 451px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + -55px);
  }

  .u-section-3 .u-gallery-1 {
    height: 361px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1196px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -55px);
  }

  .u-section-3 .u-gallery-1 {
    height: 1106px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 3408px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -55px);
  }

  .u-section-3 .u-gallery-1 {
    height: 3318px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2179px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + -55px);
  }

  .u-section-3 .u-gallery-1 {
    height: 2089px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 556px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 27px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 0 0 6px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 456px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 227px;
  height: 227px;
  background-image: url("images/29aacfc70e2d59dfe3a45f3bda234f8e78de8f21b4c7bd2a1d10007291c2d5b6a2ce6dcab8b54a68c3db72c537bb3a7ca14d52597cbeb5ebb0d221_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 6px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 27px 18px 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 456px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 227px;
  height: 227px;
  background-image: url("images/6489cc781d5a866c3c839366355d2db6f2c554a102264a403d6cb8392689ba7ad64195dd6b01013813b19d768ab72cb9bbbd3368f6c9fc35e7f7dd_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 18px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 213px;
    height: 213px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 288px;
  }

  .u-section-4 .u-image-2 {
    width: 213px;
    height: 213px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 648px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-3 {
    min-height: 408px;
  }
}