 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 835px;
}

.u-section-1 .u-image-1 {
  width: 800px;
  min-height: 560px;
  background-image: url("images/pexels-photo-10137509.jpeg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: auto;
  font-weight: 700;
  font-size: 6rem;
}

.u-section-1 .u-text-2 {
  margin: 30px 170px 35px 636px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 70px;
    margin-left: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
  }
} .u-section-2 {
  background-image: url("images/pexels-photo-10211524.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 677px;
}

.u-section-2 .u-group-1 {
  width: 488px;
  min-height: 354px;
  background-image: none;
  margin: 323px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 42px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 558px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 733px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 789px;
  margin: 60px auto;
}

.u-section-3 .u-image-1 {
  min-height: 613px;
  background-image: url("images/pexels-photo-9928825.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 25rem;
  line-height: 0.6;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 613px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  margin: 0 0 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 93px;
  height: 91px;
  background-image: none;
  margin: 39px 0 0 auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 559px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -497px;
  }

  .u-section-3 .u-image-1 {
    min-height: 623px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -703px;
  }

  .u-section-3 .u-image-1 {
    min-height: 392px;
  }

  .u-section-3 .u-text-1 {
    font-size: 9.375rem;
  }
} .u-section-4 {
  min-height: 498px;
  background-image: none;
}

.u-section-4 .u-gallery-1 {
  height: 438px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-4 {
  object-position: 50% 100%;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 362px;
  }

  .u-section-4 .u-gallery-1 {
    height: 361px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1107px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1106px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2930px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3318px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1844px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2089px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 565px;
}

.u-section-5 .u-gallery-1 {
  height: 445px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 487px;
  }

  .u-section-5 .u-gallery-1 {
    height: 367px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1244px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1124px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 3529px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3529px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2222px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2222px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 556px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 456px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 227px;
  height: 227px;
  background-image: url("images/pexels-photo-10071117.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 41px auto 0 0;
}

.u-section-6 .u-text-4 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 456px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-6 {
  margin: 41px 0 0;
}

.u-section-6 .u-image-2 {
  width: 227px;
  height: 227px;
  background-image: url("images/pexels-photo-10071138.jpeg?rand=d7ae");
  background-position: 0% 0%;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 213px;
    height: 213px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    width: 213px;
    height: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 565px;
}

.u-section-7 .u-product-1 {
  min-height: 446px;
  margin: 60px auto 60px 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 540px;
  height: 374px;
  margin: 0 auto 0 6px;
}

.u-section-7 .u-group-1 {
  width: 512px;
  min-height: 376px;
  margin: -370px 0 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 17px 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 195px 0 0;
}

.u-section-7 .u-product-price-1 {
  margin: 22px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 52px auto 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -49px 80px 0 auto;
}

.u-section-7 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  margin: 60px auto 0 0;
  padding: 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 151px;
  min-width: 128px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-7 .u-product-1 {
    min-height: 435px;
    height: auto;
    margin-top: 36px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    width: 428px;
    height: 289px;
    margin-top: 43px;
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    width: 440px;
    min-height: 366px;
    margin-top: -328px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 123px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 48px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 0;
    padding: 10px 34px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-7 .u-product-1 {
    min-height: 834px;
    margin-top: 60px;
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    width: 620px;
    height: 381px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    min-height: 371px;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 2px;
    margin-right: 20px;
  }

  .u-section-7 .u-btn-1 {
    width: 177px;
    height: 45px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: auto;
    margin-left: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-7 .u-product-1 {
    min-height: 774px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    width: 510px;
    height: 311px;
  }

  .u-section-7 .u-group-1 {
    min-height: 361px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-7 .u-product-1 {
    min-height: 684px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 195px;
  }

  .u-section-7 .u-group-1 {
    min-height: 408px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 22px;
    margin-left: 0;
    padding-right: 40px;
    padding-bottom: 11px;
    padding-left: 40px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 40px;
  }
} .u-section-8 {
  background-image: url("images/pexels-photo-9800863.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 667px;
}

.u-section-8 .u-group-1 {
  width: 688px;
  min-height: 477px;
  margin: 95px auto -40px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-shape-1 {
  width: 384px;
  height: 384px;
  margin: 20px auto 0;
}

.u-section-8 .u-text-1 {
  margin: -282px 0 0;
}

.u-section-8 .u-form-1 {
  width: 570px;
  margin: 30px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 37px;
    margin-bottom: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-8 .u-group-1 {
    margin-bottom: 60px;
    min-height: 512px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-shape-1 {
    height: 320px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -275px;
  }

  .u-section-8 .u-form-1 {
    height: 199px;
    width: 320px;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }
}